.main_area
{
    text-align: center;
}

.userForm
{
    width: 50%;
    margin: 0 auto;
}

#banner
{
    background-color: #48802c;
    margin-bottom: 5px;
}

#banner img
{
    margin: 5px 0;
    min-width: 100%;
}

#filtros {
    height: 70px;
    width: 800px;
    margin: 20px 20px;
}

#filterButton
{
    background-color: transparent;
    -moz-box-shadow: 0 0 3px 1px transparent;
    -webkit-box-shadow: 0 0 3px 1px transparent;
    box-shadow: 0 0 3px 1px transparent;
}

.filterCheckbox
{
    margin: 0 18px;
}

.stickerNavButton
{
    width: 100px;
    text-align: center;
}

#stickersTable
{
    margin: 15px auto;
    width: 95%;
}

.stickerHead td
{
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
}

.stickerLine td
{
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
}
.stickerLine td input
{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.stickerLine td img
{
    max-height: 150px;
}

#userList
{
    margin: 15px auto;
    width: 95%;
}

.userListHead td
{
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
}

.userListLine td
{
    text-align:center;
    font-size:20px;
    vertical-align: middle;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
}

.userListLine td a
{
    /*-moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;*/
}

.mybutton a
{
    text-decoration: none;
}

.mybutton a:active
{
    text-decoration: none;
    color: white;
}
